.DS_Store
node_modules
.idea
package-lock.json
/build
.vscode/
.idea/
vite.config.*s.*


.cursor/rules/kluster-code-verify.mdc
.kluster
**/api-keys.local.js
amazon-corretto-*.jdk
firebase-key.json

# Local Netlify folder
.netlify

dist/
tmp_legaleagle/
tmp_legaleagle
u2net.onnx
lim_clone/db/logs/*
lim_clone/db/data/*
*.onnx
app-debug.apk
lightspeed/.env
