.app-container[data-v-4ab97b1f]{order:4}.focus-mode[data-v-4ab97b1f]{transition:top .2s ease,var(--app-container-transition)}.focus-mode.focusing[data-v-4ab97b1f]{position:absolute;top:0;right:0;bottom:0;left:0}
